Package: dnode-agent
Source: no-source 
Version: 1.2
Architecture: all
Maintainer: Adrian Szwej <adrian.szwej@gmail.com>
Installed-Size: 1
Depends: avahi-utils 
Suggests: 
Conflicts:
Replaces:
Provides:
Section: utils
Priority: optional
Homepage: http://www.szwej.com/
Description: Utils and configuration to convert a docker machine into auto discovered docker swarm node. 
